body {
  background-color: #2c3e50;
}
  
.btn {
  cursor: pointer;
}

body {
  color: #f8f8f8;
}

.clickedToDo{
  background: #888;
  color: #fff;
  text-decoration: line-through;
}
  
.clicked {
  color: #7f8c8d;
}
  
.form,
.greetings {
  display: none;
}
  
.showing {
  display: block;
}

.top-row{
  /* position:absolute; */
}

.top-right{
  float: right;
  background-color: rgba(208, 201, 233, 0.5);
}
  
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
  
.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}

/* ======== Calendar ======== */
.js-calendar {
  width: 300px;
  margin: 30px;
  padding: 20px 20px 10px;
  text-align: center;
  font-weight: 800;
  border: 1px solid #ddd;
  cursor: default;
}

.cal-head {
  padding: 0 16px;
  margin-bottom: 20px;
  font-size: 20px;
}
.cal-head .btn-cal {
  position: relative;
  float: left;
  width: 25px;
  height: 25px;
  margin-top: 5px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background: none;
}
.cal-head .btn-cal:after {
  content: '<';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 25px;
  font-weight: bold;
  font-size: 20px;
}
.cal-head .btn-cal.next {
  float: right;
}
.cal-head .btn-cal.next:after {
  content: '>';
}

.cal-table {
}

*, *:before, *:after {
  box-sizing: inherit;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
  float: none; 
}

/* The Modal (background) */
.cal-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 70%;
  top: 70%;
  text-align: center;
  width: 20%; /* Full width */
  height: 20%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}